:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html {
    display: block;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: auto;
    -webkit-tap-highlight-color: transparent;
    
    background-image: url("images/background2.avif);
}

*, ::after, ::before {
    box-sizing: border-box;
}

.navbar {
    position: left;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-size: cover;
    background-image: url("images/background2.avif");
   
}


#Skill-inner {
    padding: 30px;
    border: 1px solid rgba(32, 33, 36, 0.1);
}

.btn-secondary{
    display: inline-block;
    vertical-align: bottom;
}

div {
    display: block;
}

.text-muted{
    padding-left:20px;
}

#about-section {
    background: rgba(32, 33, 36, 0.1);
    position: relative;
    
}

.blockabout {
    padding: 20px;
    background: white;
    background-repeat:round;
}

.blockabout-inner {
    padding: 30px;
    border: 1px solid rgba(32, 33, 36, 0.1);
}

.socialmedia a i{
    height: 40px;
    width: 40px;
    line-height: 30px;
    margin: auto 3px;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s;
}

.rey-btn {
    border: 2px solid #070707;
    padding: 10px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 50px;
    transition: all 0.3s;
}

.featurette-image{
    background-size:auto;
    padding: 10px 40px;
    margin-left: 50px;
    height: 190px;
    width: 300px;
    opacity: 0.5;
    object-fit: contain;
}

.featurette-heading{
    padding-right:20px;
    text-align:start;

}

.footer_copyright{
    display: flex;
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:15px;
    justify-content: center;
}
